body {
    font: normal 24px 'Raleway', sans-serif;
    background: #ffffff;
    color: #191919;
}

.wrap {
    margin: 0 auto;
    max-width: 1820px;
}

* {
    outline: none;
    box-sizing: border-box;
}

body, html, p, h1, h2, h3, h4, h5, menu, nav, ul, ul li, ol, dl, dt, dd {
    margin: 0;
    padding: 0;
}

p, span {
    line-height: 1.3em;
}

menu, nav, ul, ul li, ol, dl, dt, dd {
    list-style: none;
}

a, a:visited, a:active, a:link {
    color: #939393;
    text-decoration: none;
}

a:hover {
    color: #191919;
    text-decoration: none;
}

:focus {
    outline: none !important;
}

a img {
    display: block;
    border: none;
}

form, menu, iframe {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

/*header*/

.header__inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 74px;
}

.header__menu-block button {
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 18px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.header__menu-block button span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase;
}

.close-block.show {
    display: flex;
}

.close-block, .open-block.hide {
    display: none;
}

.header__contact-block {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.header__contact-block span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
}

.header__menu {
    display: none;
}

.header__menu.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    left: 0;
    top: 100%;
    /* min-height: calc(100vh - 74px);*/
    min-width: 100%;
    /* background: pink;*/
}

.header__menu-wrap {
    padding-top: 55px;
}

.header__main-list {
    padding-bottom: 64px;
}

.header__main-list > li > a {
    font-family: 'AABebasNeue', sans-serif;
    font-size: 60px;
    line-height: 1em;
    margin-bottom: 4px;
}

.header__dropdown {
    padding-bottom: 34px;
}

.header__dropdown > div {
    display: flex;
}

.header__dropdown ul {
    width: 100%;
}

.header__dropdown a {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: #191919;
    margin-bottom: 6px;
    transition: all 300ms linear;
    padding-left: 0;
}

.header__dropdown a:before, .header__dropdown a:after {
    content: "";
    position: absolute;
    background: #191919;
    transition: all 300ms linear;
    opacity: 0;
}

.header__dropdown a:before {
    width: 13px;
    height: 1px;
    left: 2px;
    top: 8px;
}

.header__dropdown a:after {
    width: 1px;
    height: 13px;
    left: 8px;
    top: 2px;
}

.header__dropdown a:hover {
    color: #FF8A00;
    padding-left: 24px;
}

.header__dropdown a:hover:before, .header__dropdown a:hover:after {
    opacity: 1;
    background: #FF8A00;
}

.header__menu-contact-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 35px;
}

.header__menu-contact-block a {
    color: #191919;
    font-size: 16px;
    line-height: 1.2em;
}

.header__menu-contact-block p {
    font-size: 14px;
    line-height: 1.2em;
    padding-right: 10px;
}

.header__menu-socials {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.header__menu-socials span {
    display: none;
}

.header__img-wrap {
    position: relative;
    overflow: hidden;
}

.header__img-wrap:before, .header__img-wrap:after {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 35%;
}

.header__img-wrap:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 255), rgba(0, 0, 0, 0));
}

.header__img-wrap:after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 255));
}

.header__img-wrap img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1200px) {
    .header__menu-block button span, .header__contact-block, .header__img-wrap, .header__phone, .header__mail, .header__address {
        display: none;
    }

    header, main, footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header__menu-block {
        order: 2;
    }

    .header__logo {
        width: 54px;
        height: 24px;
    }

    .header__inner-wrap {
        height: 64px;
    }

    .header__menu.active {
        grid-template-columns: 1fr;
    }

    .header__menu-wrap {
        padding-top: 22px;
    }

    .header__main-list > li > a {
        font-size: 42px;
    }

    .header__dropdown-link {
        margin-bottom: 20px;
    }

    .header__dropdown {
        padding-left: 32px;
        padding-bottom: 14px;
    }

    .header__dropdown > div {
        flex-direction: column;
    }

    .header__menu-socials span {
        display: block;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2em;
        text-transform: uppercase;
    }
}






