body {
    font: normal 24px 'Raleway', sans-serif;
    background: #ffffff;
    color: #191919;
}

.wrap {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 50px;
}

* {
    outline: none;
    box-sizing: border-box;
}

body, html, p, h1, h2, h3, h4, h5, menu, nav, ul, ul li, ol, dl, dt, dd {
    margin: 0;
    padding: 0;
}

p, span, a {
    line-height: 1.3em;
}

menu, nav, ul, ul li, ol, dl, dt, dd {
    list-style: none;
}

a, a:visited, a:active, a:link {
    color: #939393;
    text-decoration: none;
}

a:hover {
    color: #191919;
    text-decoration: none;
}

:focus {
    outline: none !important;
}

a img {
    display: block;
    border: none;
}

form, menu, iframe {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

/*header*/

.header__inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 74px;
}

.header__menu-block button {
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 18px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.header__menu-block button span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase;
}

.close-block.show {
    display: flex;
}

.close-block, .open-block.hide {
    display: none;
}

.header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header__info-block {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.lang-dropdown {
    position: relative;
    cursor: pointer;
}

.lang-dropdown__main {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.lang-dropdown__selected {
    font-size: 18px;
    line-height: 1.2em;
}

.lang-dropdown__options {
    display: none;
    position: absolute;
    right: 0;
    top: 110%;
    width: 100%;
    background: #ffffff;
    border: 2px solid #FF8A00;
    z-index: 15;
}

.lang-dropdown__options a {
    display: block;
    padding: 4px 2px;
    font-size: 18px;
    line-height: 1.2em;
    color: #191919;
    text-transform: capitalize;
}

.lang-dropdown__options a:hover {
    color: #FF8A00;
}

.rotated-arr {
    transform: rotate(180deg);
}

.social-block {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.social-block span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
}

.header__menu {
    display: none;
    z-index: 2;
    background: #ffffff;
}

.header__menu.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: calc(100% + 50px);
}

.header__menu-wrap {
    padding-top: 55px;
}

.header__main-list {
    padding-bottom: 64px;
}

.header__main-list > li > a {
    font-family: 'AABebasNeue', sans-serif;
    font-size: 60px;
    line-height: 1em;
    margin-bottom: 4px;
}

.header__dropdown {
    /*starting point*/
    /*display: none;*/
    display: grid;
    padding-bottom: 34px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 10px;
}

.header__dropdown a {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: #191919;
    margin-bottom: 6px;
    transition: all 300ms linear;
    padding-left: 0;
}

.header__dropdown a:before, .header__dropdown a:after {
    content: "";
    position: absolute;
    background: #191919;
    transition: all 300ms linear;
    opacity: 0;
}

.header__dropdown a:before {
    width: 13px;
    height: 1px;
    left: 2px;
    top: 8px;
}

.header__dropdown a:after {
    width: 1px;
    height: 13px;
    left: 8px;
    top: 2px;
}

.header__dropdown a:hover {
    color: #FF8A00;
    padding-left: 24px;
}

.header__dropdown a:hover:before, .header__dropdown a:hover:after {
    opacity: 1;
    background: #FF8A00;
}

.header__menu-contact-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 35px;
}

.header__menu-contact-block a {
    color: #191919;
    font-size: 16px;
    line-height: 1.2em;
}

.header__menu-contact-block p {
    font-size: 14px;
    line-height: 1.2em;
    padding-right: 10px;
}

.header__menu .social-block span {
    display: none;
}

.header__img-wrap {
    position: relative;
    overflow: hidden;
}

.header__img-wrap:before, .header__img-wrap:after {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 35%;
}

.header__img-wrap:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 255), rgba(0, 0, 0, 0));
}

.header__img-wrap:after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 255));
}

.header__img-wrap {
    background: url('../images/menu-img.jpg') no-repeat center center;
    background-size: cover;
}

.header__img-wrap img {
    /* display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;*/
}

@media screen and (max-width: 1450px) {
    .header__main-list {
        padding-bottom: 35px;
    }

    .header__menu-contact-block {
        flex-direction: column;
        row-gap: 15px;
    }
}

@media screen and (max-width: 960px) {
    .header__menu-block button span, .header__info-block, .header__img-wrap, .header__phone, .header__mail, .header__address {
        display: none;
    }

    .wrap {
        padding: 0 16px;
    }

    .header__menu-block {
        order: 2;
    }

    .header__logo {
        left: 0;
        transform: translate(0, -50%);
    }

    .header__logo img {
        width: 54px;
        height: 24px;
    }

    .header__inner-wrap {
        height: 64px;
        justify-content: flex-end;
    }

    .header__menu.active {
        min-width: 100%;
        grid-template-columns: 1fr;
    }

    .header__menu-wrap {
        padding-top: 22px;
    }

    .header__main-list {
        padding-bottom: 64px;
    }

    .header__main-list > li > a {
        font-size: 42px;
    }

    .header__dropdown-link {
        margin-bottom: 20px;
    }

    .header__dropdown {
        padding-left: 32px;
        padding-bottom: 14px;
        grid-template-columns: 1fr;
        row-gap: 0;
    }

    .header__menu-contact-block {
        flex-direction: row;
        row-gap: 0;
    }

    .header__menu .social-block span {
        display: block;
    }
}

/*hero slider section */

.hero-slider-wrap {
    margin-left: -50px;
    margin-right: -50px;
}
.hero-slider__item img {
    width: 100%;
}

@media screen and (max-width: 960px) {
    .hero-slider-wrap {
        margin-left: -16px;
        margin-right: -16px;
    }
}

/*footer*/

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 150px;
}

.footer p, .footer a {
    font-size: 24px;
    color: #191919;
}

.footer h3 {
    font-family: 'Impact', sans-serif;
    font-size: 41px;
    line-height: 1.01em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.footer__page-links, .footer__mail-block {
    display: flex;
    flex-direction: column;
}

.footer__mail-block {
    row-gap: 20px;
}

.footer .social-block, .footer__logo-block {
    display: none;
}

.mobile-break, .tablet-show {
    display: none;
}

@media screen and (max-width: 1450px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        padding-bottom: 40px;
    }

    .tablet-hide {
        display: none;
    }

    .tablet-show {
        display: block;
    }
}

@media screen and (max-width: 960px) {
    .footer {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
        row-gap: 0;
    }

    .footer a, .footer p {
        font-size: 14px;
    }

    .footer__title-block {
        display: none;
    }

    .footer .social-block {
        display: flex;
        flex-wrap: wrap;
        column-gap: 12px;
        margin-bottom: 12px;
        order: 0;
    }

    .footer .social-block span {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer__mail-block {
        order: 1;
        row-gap: 0;
        margin-bottom: 12px;
    }

    .footer__address-block {
        order: 2;
        margin-bottom: 24px;
    }

    .footer__page-links {
        order: 3;
        padding-left: 48px;
        margin-bottom: 32px;
    }

    .footer__mail-block a:first-of-type {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .footer__mail-block a:nth-of-type(2) {
        font-weight: 600;
    }

    .mobile-break {
        display: block;
    }

    .desktop-break, .tablet-show {
        display: none;
    }

    .footer__logo-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: 4;
    }

    .footer__logo-block img {
        width: 54px;
        height: 24px;
    }
}





