body {
    font: normal 24px 'Raleway', sans-serif;
    background: #ffffff;
    color: #191919;
}

.wrap {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 50px;
}

* {
    outline: none;
    box-sizing: border-box;
}

body, html, p, h1, h2, h3, h4, h5, menu, nav, ul, ul li, ol, dl, dt, dd {
    margin: 0;
    padding: 0;
}

p, span, a {
    line-height: 1.3em;
}

menu, nav, ul, ul li, ol, dl, dt, dd {
    list-style: none;
}

a, a:visited, a:active, a:link {
    color: #939393;
    text-decoration: none;
}

a:hover {
    color: #191919;
    text-decoration: none;
}

:focus {
    outline: none !important;
}

a img {
    display: block;
    border: none;
}

form, menu, iframe {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

h2 {
    font-family: 'AABebasNeue', sans-serif;
    font-size: 100px;
    line-height: 1em;
    font-weight: 400;
}

h2 span {
    color: #FF8A00;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 74px;
    border: none;
    padding: 0;
    background: #FF8A00;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}

.btn:hover {
    color: #ffffff;
}

.btn span {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
}

.prev-btn, .next-btn {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.prev-btn {
    border: 1px solid #B4B4B4;
}

.next-btn {
    border: 1px solid #FF8A00;
}

.prev-btn:before, .next-btn:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 10px;
    transform: translate(-50%, -50%);
}

.prev-btn:before {
    background: url('../images/prev_arr.svg') no-repeat left top;
}

.next-btn:before {
    background: url('../images/next_arr.svg') no-repeat left top;
}

.mobile-show, .tablet-show {
    display: none;
}

@media screen and (max-width: 960px) {
    .desktop-show, .tablet-show {
        display: none;
    }

    .mobile-show {
        display: block;
    }

    .btn {
        width: 100%;
        height: 68px;
        font-size: 20px;
    }

    .btn span {
        font-size: 20px;
    }
}

/*header*/

.header__inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 74px;
}

.header__menu-block button {
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 18px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.header__menu-block button span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase;
}

.close-block.show {
    display: flex;
}

.close-block, .open-block.hide {
    display: none;
}

.header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header__info-block {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.lang-dropdown {
    position: relative;
    cursor: pointer;
}

.lang-dropdown__main {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.lang-dropdown__selected {
    font-size: 18px;
    line-height: 1.2em;
}

.lang-dropdown__options {
    display: none;
    position: absolute;
    right: 0;
    top: 110%;
    width: 100%;
    background: #ffffff;
    border: 2px solid #FF8A00;
    z-index: 60;
}

.lang-dropdown__options a {
    display: block;
    padding: 4px 2px;
    font-size: 18px;
    line-height: 1.2em;
    color: #191919;
    text-transform: capitalize;
}

.lang-dropdown__options a:hover {
    color: #FF8A00;
}

.rotated-arr {
    transform: rotate(180deg);
}

.social-block {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.social-block span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
}

.header__menu {
    display: none;
    z-index: 2;
    background: #ffffff;
}

.header__menu.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    left: -50px;
    top: 100%;
    min-width: calc(100% + 100px);
    z-index: 50;
}

.header__menu-wrap {
    padding-top: 55px;
    padding-left: 50px;
}

.header__main-list {
    padding-bottom: 64px;
}

.header__main-list > li > a {
    font-family: 'AABebasNeue', sans-serif;
    font-size: 60px;
    line-height: 1em;
    margin-bottom: 4px;
}

.header__submenu {
    display: grid;
    padding-bottom: 34px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 10px;
}

.header__submenu a {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: #191919;
    margin-bottom: 6px;
    transition: all 300ms linear;
    padding-left: 0;
}

.header__submenu a:before, .header__submenu a:after {
    content: "";
    position: absolute;
    background: #191919;
    transition: all 300ms linear;
    opacity: 0;
}

.header__submenu a:before {
    width: 13px;
    height: 1px;
    left: 2px;
    top: 8px;
}

.header__submenu a:after {
    width: 1px;
    height: 13px;
    left: 8px;
    top: 2px;
}

.header__submenu a:hover {
    color: #FF8A00;
    padding-left: 24px;
}

.header__submenu a:hover:before, .header__submenu a:hover:after {
    opacity: 1;
    background: #FF8A00;
}

.header__menu-contact-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 35px;
}

.header__menu-contact-block a {
    color: #191919;
    font-size: 16px;
    line-height: 1.2em;
}

.header__menu-contact-block p {
    font-size: 14px;
    line-height: 1.2em;
    padding-right: 10px;
}

.header__menu .social-block span {
    display: none;
}

.header__img-wrap {
    position: relative;
    overflow: hidden;
}

.header__img-wrap:before, .header__img-wrap:after {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 35%;
}

.header__img-wrap:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 255), rgba(0, 0, 0, 0));
}

.header__img-wrap:after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 255));
}

.header__img-wrap {
    background: url('../images/menu-img.jpg') no-repeat center center;
    background-size: cover;
}

.header__img-wrap img {
    /* display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;*/
}

.mobile-lang-dropdown {
    display: none;
}

@media screen and (max-width: 1450px) {
    .header__main-list {
        padding-bottom: 35px;
    }

    .header__menu-contact-block {
        flex-direction: column;
        row-gap: 15px;
    }
}

@media screen and (max-width: 960px) {
    .header__menu-block button span, .header__info-block, .header__img-wrap, .header__phone, .header__mail, .header__address {
        display: none;
    }

    .wrap {
        padding: 0 16px;
    }

    .header__menu-block {
        order: 2;
    }

    .header__logo {
        left: 0;
        transform: translate(0, -50%);
    }

    .header__logo img {
        width: 54px;
        height: 24px;
    }

    .header__inner-wrap {
        height: 64px;
        justify-content: flex-end;
    }

    .header__menu.active {
        left: -16px;
        min-width: calc(100% + 32px);
        grid-template-columns: 1fr;
    }

    .header__menu-wrap {
        padding-top: 22px;
        padding-left: 16px;
    }

    .header__main-list {
        padding-bottom: 44px;
    }

    .header__main-list > li > a {
        font-size: 42px;
    }

    .header__submenu-link {
        margin-bottom: 20px;
    }

    .header__submenu {
        padding-left: 32px;
        padding-bottom: 14px;
        grid-template-columns: 1fr;
        row-gap: 0;
    }

    .header__menu-contact-block {
        flex-direction: row;
        row-gap: 0;
    }

    .header__menu .social-block span {
        display: block;
    }

    .mobile-lang-dropdown {
        display: block;
        margin-bottom: 28px;
    }

    .mobile-lang-dropdown ul {
        display: flex;
    }

    .mobile-lang-dropdown li:first-child {
        position: relative;
        padding-right: 16px;
    }

    .mobile-lang-dropdown li:first-child:before {
        content:'';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 1px;
        height: 24px;
        background: #939393;
    }

    .mobile-lang-dropdown li:last-child {
        padding-left: 16px;
    }

    .mobile-lang-dropdown a {
        display: block;
        font-size: 18px;
        line-height: 1.5em;
        font-weight: 500;
        color: #939393;
    }

    .mobile-lang-dropdown .active a {
        color: #191919;
    }
}

/*hero slider section */

.hero-slider-wrap {
    position: relative;
    margin-left: -50px;
    margin-right: -50px;
}

.hero-slider__item {
    position: relative;
}

.hero-slider__item:before {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 255));
}

.hero-slider__item img {
    width: 100%;
}

.hero-slider__item h2 {
    position: absolute;
    left: 50px;
   /* top: 50%;*/
    top: 48%;
    transform: translate(0, -50%);
    width: 1216px;
    font-family: 'AABebasNeue', sans-serif;
    font-size: 140px;
    font-weight: 400;
   /* line-height: 0.9em;*/
    line-height: 0.96em;
    color: #ffffff;
    z-index: 15;
}

.hero-slider__links {
    position: absolute;
    left: 0;
    bottom: 18%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 15;
}

.hero-slider__links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    height: 122px;
    margin: 0 16px;
    row-gap: 8px;
    color: #ffffff;
}

.hero-slider__links a:hover {
    color: #ffffff;
}

.hero-slider__link-wrap div {
    width: 100%;
    height: 85px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-slider__link1 div {
    background-image: url('../images/rubble.svg');
}

.hero-slider__link1:hover div {
    background-image: url('../images/rubble_hover.svg');
}

.hero-slider__link2 div {
    background-image: url('../images/shipping.svg');
}

.hero-slider__link2:hover div {
    background-image: url('../images/shipping_hover.svg');
}

.hero-slider__link3 div {
    background-image: url('../images/calculator.svg');
}

.hero-slider__link3:hover div {
    background-image: url('../images/calculator_hover.svg');
}

.hero-slider__link4 div {
    background-image: url('../images/construction.svg');
}

.hero-slider__link4:hover div {
    background-image: url('../images/construction_hover.svg');
}

@media screen and (max-width: 1480px) {
    .hero-slider__item h2 {
        font-size: 90px;
        width: 900px;
    }

    .hero-slider__links {
        bottom: 8%;
    }

    .hero-slider__links a span {
        font-size: 22px;
    }
}

@media screen and (max-width: 960px) {
    .hero-slider-wrap {
        margin-left: -16px;
        margin-right: -16px;
    }

    .hero-slider-wrap:before {
        height: 40%;
    }

    .hero-slider__item h2 {
        width: 320px;
        font-size: 72px;
        left: 16px;
        top: auto;
        bottom: 22.26%;
        transform: translate(0, 0);
    }

    .hero-slider__link-wrap div {
        height: 54px;
    }

    .hero-slider__links {
        bottom: 6.4%;
    }

    .hero-slider__links a {
        width: 82px;
        height: 74px;
        margin: 0 8px;
    }

    .hero-slider__links a span {
        font-size: 12px;
    }

    .hero-slider__item img {
        height: calc(100vh - 64px);
        object-fit: cover;
        object-position: center;
    }

    .hero-slider__link3 .desktop-show + span {
        text-transform: uppercase;
    }
}

/*about*/

.about {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 260px;
    padding-bottom: 100px;
}

.about__title-block {
    width: 1214px;
    margin-bottom: 20px;
}

.about__text-block {
    width: 1002px;
    margin-bottom: 60px;
}

.about a {
    color: #FF8A00;
    font-weight: 600;
}

.about-img-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
    margin-left: -50px;
    margin-right: -50px;
}

.about-img-row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1450px) {
    .about {
        grid-template-columns: 1fr;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .about h2 {
        font-size: 75px;
    }

    .about .block-naming {
        padding-bottom: 24px;
    }

    .about__title-block {
        width: 100%;
        margin-bottom: 24px;
    }

    .about__text-block {
        width: 100%;
        margin-bottom: 24px;
    }

}

@media screen and (max-width: 960px) {
    .about {
        padding-top: 140px;
        padding-bottom: 40px;
    }

    .about p {
        font-size: 16px;
    }

    .about .block-naming {
        padding-left: 32px;
    }

    .about h2 {
        font-size: 36px;
    }

    .about__text-block {
        padding-left: 32px;
        margin-bottom: 16px;
    }

    .about a {
        font-size: 18px;
        padding-left: 32px;
    }

    .about-img-row {
        grid-template-columns: 1fr 1.4fr;
        margin-left: 0;
        margin-right: 0;
        column-gap: 8px;
    }
}

/*advantages*/

.advantages {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 260px;
    padding-bottom: 260px;
}

.advantages h2 {
    margin-bottom: 40px;
}

.advantages__text-block {
    margin-bottom: 80px;
    width: 1126px;
}

.advantages__number-block {
    display: flex;
    justify-content: space-between;
    width: 1146px;
    margin-bottom: 80px;
}

.advantages__number-column {
    display: flex;
    flex-direction: column;
}

.advantages__number-column span {
    font-family: 'AABebasNeue', sans-serif;
    font-size: 160px;
    line-height: 1em;
    color: #FF8A00;
}

@media screen and (max-width: 1450px) {
    .advantages {
        grid-template-columns: 1fr;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .advantages h2 {
        font-size: 75px;
        margin-bottom: 24px;
    }

    .advantages .block-naming {
        padding-bottom: 24px;
    }

    .advantages__text-block {
        width: 100%;
        margin-bottom: 40px;
    }

    .advantages__number-block {
        width: 100%;
        margin-bottom: 50px;
    }

    .advantages__number-block span {
        font-size: 100px;
    }
}

@media screen and (max-width: 960px) {
    .advantages {
        grid-template-columns: 1fr;
        padding-top: 140px;
        padding-bottom: 140px;
    }

    .advantages .block-naming {
        padding-left: 32px;
    }

    .advantages h2 {
        width: 240px;
        font-size: 36px;
        margin-bottom: 12px;
    }

    .advantages p {
        font-size: 16px;
    }

    .advantages__text-block {
        padding-left: 32px;
    }

    .advantages__number-block {
        flex-direction: column;
        row-gap: 24px;
        margin-bottom: 60px;
        padding-left: 32px;
    }

    .advantages__number-column span {
        font-size: 72px;
    }

    .advantages .btn span {
        font-size: 20px;
    }
}

/* manufacturing slider*/

.m-slider-wrap {
    padding-bottom: 260px;
}

.m-slider {
    margin-left: -50px;
    margin-right: -50px;
}

.slider__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.slider__btn-group {
    display: flex;
    column-gap: 30px;
}

.m-slider__item img {
    width: 100%;
}

.mobile-show {
    display: none;
}

.grey-line__wrap {
    display: none;
}

@media screen and (max-width: 1450px) {
    .m-slider-wrap {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 960px) {
    .m-slider-wrap {
        padding-bottom: 140px;
    }

    .m-slider-wrap h2 {
        font-size: 36px;
    }

    .slider__title-block {
        margin-bottom: 20px;
    }

    .desktop-show {
        display: none;
    }

    .mobile-show {
        display: flex;
    }

    .m-slider {
        margin-left: 0;
        margin-right: 0;
    }

    .m-slider__item img {
        height: 444px;
        object-fit: cover;
        object-position: center;
    }

    .slider__btn-group {
        column-gap: 6px;
    }

    .prev-btn, .next-btn {
        width: 36px;
        height: 36px;
    }

    .slider__mobile-panel {
        display: flex;
        column-gap: 12px;
        align-items: center;
        padding-top: 20px;
        padding-left: 32px;
    }

    .grey-line__wrap {
        display: block;
    }

    .grey-line__wrap {
        width: 100%;
    }

    .grey-line__wrap ul {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .grey-line__wrap ul li {
        width: 100%;
        height: 1px;
        background-color: #B4B4B4;
    }

    .grey-line__wrap ul li.slick-active {
        background-color: #000000;
    }

    .grey-line__wrap ul li button{
        display: none;
    }
}

/* connect (form and map section) */

.connect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    padding-bottom: 200px;
}

.connect h2 {
    font-size: 80px;
    margin-bottom: 80px;
}

.form-wrap label, .form-wrap input, .form-wrap textarea {
    display: block;
    font-size: 32px;
    line-height: 1.4em;
    color: #B3B3B3;
    padding: 0;
}

.form-wrap input, .form-wrap textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #B4B4B4;
    background: #ffffff;
}

.form-wrap input {
    margin-bottom: 54px;
    height: 38px;
}

/*.form-wrap input:-internal-autofill-selected {
    background: #ffffff !important;
    color: #B3B3B3 !important;
}*/

.form-wrap textarea {
    margin-bottom: 60px;
    resize: none;
    height: 80px;
}

.map-wrap iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1450px) {
    .connect h2 {
        margin-bottom: 20px;
    }

    .connect {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 960px) {

    .connect {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 80px;
        padding-bottom: 140px;
    }

    .connect h2 {
        font-size: 36px;
        margin-bottom: 24px;
        max-width: 300px;
    }

    .form-wrap label, .form-wrap input, .form-wrap textarea {
        font-size: 16px;
    }

    .form-wrap input {
        height: 28px;
        margin-bottom: 16px;
    }

    .form-wrap textarea {
        height: 60px;
    }

    .map-wrap iframe {
        height: 220px;
    }
}

/*footer*/

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 150px;
}

.footer p, .footer a {
    font-size: 24px;
    color: #191919;
}

.footer h3 {
    font-family: 'Impact', sans-serif;
    font-size: 41px;
    line-height: 1.01em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.footer__page-links, .footer__mail-block {
    display: flex;
    flex-direction: column;
}

.footer__mail-block {
    row-gap: 20px;
}

.footer .social-block, .footer__logo-block {
    display: none;
}

@media screen and (max-width: 1450px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        padding-bottom: 40px;
    }

    .tablet-hide {
        display: none;
    }

    .tablet-show {
        display: block;
    }
}

@media screen and (max-width: 960px) {
    .footer {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
        row-gap: 0;
    }

    .footer a, .footer p {
        font-size: 14px;
    }

    .footer__title-block {
        display: none;
    }

    .footer .social-block {
        display: flex;
        flex-wrap: wrap;
        column-gap: 12px;
        margin-bottom: 12px;
        order: 0;
    }

    .footer .social-block span {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer__mail-block {
        order: 1;
        row-gap: 0;
        margin-bottom: 12px;
    }

    .footer__address-block {
        order: 2;
        margin-bottom: 24px;
    }

    .footer__page-links {
        order: 3;
        padding-left: 48px;
        margin-bottom: 32px;
    }

    .footer__mail-block a:first-of-type {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .footer__mail-block a:nth-of-type(2) {
        font-weight: 600;
    }

    .footer__logo-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: 4;
    }

    .footer__logo-block img {
        width: 54px;
        height: 24px;
    }
}

/* production page */

.production-hero {
    position: relative;
    margin-left: -50px;
    margin-right: -50px;
}

.production-hero img {
    display: block;
    width: 100%;
    max-height: 916px;
   /* height: calc(100vh - 74px);*/
    object-fit: cover;
}

.production-hero h2 {
    position: absolute;
    left: 50px;
    bottom: 9%;
    font-size: 180px;
    color: #ffffff;
}

@media screen and (max-width: 1450px) {
    .production-hero h2 {
        font-size: 100px;
    }
}

@media screen and (max-width: 960px) {
    .production-hero {
        margin-left: -16px;
        margin-right: -16px;
    }

    .production-hero img {
        height: calc(100vh - 64px);
    }

    .production-hero h2 {
        font-size: 72px;
        left: 16px;
        width: 320px;
    }
}

/* price-block */

.price-block {
    padding-top: 260px;
    padding-bottom: 260px;
}

.price-block__warning-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-bottom: 60px;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 60px;
}

.product-item__inner-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-item__frame {
    border: 1px solid #FF8A00;
    background: #ffffff;
    padding: 118px 32px;
    margin-bottom: 28px;
}

.product-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* aspect ratio for production page grid images!*/
.price-block .product-item__img-wrap {
    overflow: hidden;
    aspect-ratio: 529/278;
}

.product-item .btn {
    width: 100%;
    font-weight: 600;
    margin-top: auto;
}

.product-item h3 {
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.product-item__price {
    font-size: 42px;
    font-weight: 700;
    color: #FF8A00;
    margin-bottom: 40px;
}

@media screen and (max-width: 1450px) {

    .product-grid {
        grid-template-columns: 1fr 1fr;
    }

    .price-block__warning-wrap {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }

    .price-block {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .product-item__frame {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 960px) {
    .price-block p {
        font-size: 16px;
    }

    .price-block__warning-wrap {
        row-gap: 0;
        margin-bottom: 50px;
    }

    .price-block__warning {
        padding-left: 32px;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    .price-block .block-naming {
        padding-left: 32px;
        margin-bottom: 24px;
    }

    .product-item p {
        font-size: 20px;
    }

    .product-item h3 {
        font-size: 20px;
    }

    .product-item__frame {
        padding: 10px;
    }
}

/* FAQ-block*/

.FAQ-block {
    padding-bottom: 200px;
}

.FAQ-block .block-naming {
    margin-bottom: 60px;
}

.FAQ__item {
    border-top: 1px solid #FF8A00;
    padding: 60px 30px 60px 0;
}

.FAQ__item:last-of-type {
    border-bottom: 1px solid #FF8A00;
}

.FAQ__item {
    display: flex;
    justify-content: space-between;
}

.FAQ__inner-wrap {
    display: flex;
}

.FAQ__number {
    padding-right: 128px;
}

.FAQ__question {
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
}

.FAQ__answer {
    padding-top: 28px;
}

.FAQ__btn-block {
    margin-left: 10px;
}

.FAQ__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    padding: 0;
    background: #ffffff;
    border: 1px solid #FF8A00;
    cursor: pointer;
}

.FAQ__answer {
    display: none;
}

.FAQ__btn-up {
    background: #FF8A00;
}

.FAQ__btn-up img {
    transform: rotate(180deg);
}

@media screen and (max-width: 1450px) {
    .FAQ-block {
        padding-bottom: 100px;
    }

    .FAQ__number {
        padding-right: 50px;
    }

    .FAQ__question {
        font-size: 24px;
    }
}

@media screen and (max-width: 960px) {
    .FAQ__number {
        padding-right: 16px;
        font-size: 18px;
    }

    .FAQ-block .block-naming, .FAQ__answer {
        font-size: 16px;
    }

    .FAQ__question {
        font-size: 18px;
    }

    .FAQ__item {
        padding: 40px 0;
    }

    .FAQ__btn {
        width: 40px;
        height: 40px;
    }

    .FAQ__answer {
        padding-top: 20px;
    }
}

/* product page */

.product-hero {
    position: relative;
    margin-left: -50px;
    margin-right: -50px;
}

.product-hero:before {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 255));
}

.product-hero img {
    display: block;
    width: 100%;
    /*height: calc(100vh - 74px);*/
    max-height: 916px;
    object-fit: cover;
}

.product-hero h2 {
    position: absolute;
    left: 50px;
    bottom: 5.46%;
    font-size: 180px;
    color: #ffffff;
    z-index: 15;
}

@media screen and (max-width: 1450px) {
    .product-hero h2 {
        font-size: 100px;
    }
}

@media screen and (max-width: 960px) {
    .product-hero {
        margin-left: -16px;
        margin-right: -16px;
    }

    .product-hero img {
        height: calc(100vh - 64px);
    }

    .product-hero h2 {
        font-size: 72px;
        left: 16px;
        width: 320px;
    }
}

/* feature-block*/

.feature-block {
    padding-top: 260px;
    padding-bottom: 180px;
}

.feature-block__wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 22px;
}

.feature-block .block-naming {
    margin-bottom: 96px;
}

.feature-block__desc {
    padding: 40px;
    border: 1px solid #FF8A00;
}

.feature-block__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-block__row:not(:last-of-type) {
    margin-bottom: 28px;
}

.feature-block__row:last-of-type {
    margin-bottom: 139px;
}

.feature-block h2 {
    margin-bottom: 27px;
}

.feature-block__title-wrap img {
    display: block;
    width: 100%;
    height: calc(100% - 127px);
    object-fit: cover;
}

.feature-block__btn-wrap {
    padding-top: 60px;
}

.test1 {
    background: pink;
}

.test2 {
    background: #FF8A00;
}

@media screen and (max-width: 1450px) {
    .feature-block {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .feature-block__desc {
        padding: 32px;
    }

    .feature-block__row {
        flex-direction: column;
        align-items: flex-start;
    }

    .feature-block__row:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 960px) {
    .feature-block {
        padding-bottom: 40px;
    }

    .feature-block__wrap {
        grid-template-columns: 1fr;
    }

    .feature-block__title-wrap {
        order: 0;
    }

    .feature-block__desc-wrap {
        order: 1;
    }

    .feature-block__title-wrap img {
        height: 250px;
    }

    .feature-block h2 {
        font-size: 36px;
        margin-bottom: 24px;
    }

    .feature-block .block-naming {
        padding-left: 32px;
        padding-top: 24px;
        margin-bottom: 24px;
        font-size: 16px;
    }

    .feature-block__row span {
        font-size: 20px;
    }
}

/* usage-block*/

.usage-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 22px;
    padding-bottom: 260px;
}

.usage-block h2 {
    margin-bottom: 14px;
}


@media screen and (max-width: 1450px) {
    .usage-block {
        grid-template-columns: 1fr;
        padding-bottom: 100px;
    }

    .usage-block .block-naming {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 960px) {
    .usage-block {
        padding-bottom: 40px;
    }

    .usage-block h2 {
        font-size: 36px;
        margin-bottom: 24px;
    }

    .usage-block .block-naming {
        padding-left: 32px;
    }

    .usage-block p {
        font-size: 16px;
        padding-left: 32px;
    }
}

/* alike-block*/

.alike-block {
    padding-bottom: 200px;
}

.alike-slider .product-item {
    margin-right: 20px;
}

.alike-slider .product-item:last-child {
    margin-right: 0;
}

.alike-slider .product-item__frame {
    padding: 64px;
}

/* aspect ratio for product page alike-slider */

.alike-slider .product-item__img-wrap {
    overflow: hidden;
    aspect-ratio: 465/386;
}

.alike-slider .slider__title-block {
    margin-bottom: 60px;
}

.alike-block .slider__btn-group {
    padding-right: 20px;
}

@media screen and (max-width: 1450px) {
    .alike-block {
        padding-bottom: 100px;
    }

    .alike-slider .product-item__frame {
        padding: 32px;
    }
}

@media screen and (max-width: 960px) {
    .alike-slider .product-item {
        margin-right: 0;
    }

    .alike-slider .product-item__frame {
        padding: 10px;
    }

    .alike-block .slider__btn-group {
        padding-right: 0;
    }

    .alike-block .block-naming {
        padding-left: 32px;
        font-size: 16px;
        margin-bottom: 4px;
    }

}









